version: "3"
services:

  oj-redis:
    image: redis:4.0-alpine
    container_name: oj-redis
    restart: always
    volumes:
      - ./data/redis:/data
  
  oj-postgres:
    image: postgres:10-alpine
    container_name: oj-postgres
    restart: always
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=onlinejudge
      - POSTGRES_USER=onlinejudge
      - POSTGRES_PASSWORD=onlinejudge
  # Uncomment to enable the resync server.    
  # oj-rsync-master:
  #   image: registry.cn-hangzhou.aliyuncs.com/onlinejudge/oj_rsync
  #   container_name: oj-rsync-master
  #   volumes:
  #     - $PWD/data/backend/test_case:/test_case:ro
  #     - $PWD/data/rsync_master:/log
  #   environment:
  #     - RSYNC_MODE=master
  #     - RSYNC_USER=ojrsync
  #     - RSYNC_PASSWORD=CHANGE_THIS_PASSWORD
  #   ports:
  #     - "0.0.0.0:873:873"

  judge-server:
    image: srejikumar/judge_server:javascript
    container_name: judge-server
    restart: always
    read_only: true
    cap_drop:
      - SETPCAP
      - MKNOD
      - NET_BIND_SERVICE
      - SYS_CHROOT
      - SETFCAP
      - FSETID
    tmpfs:
      - /tmp
    volumes:
      - ./data/backend/test_case:/test_case:ro
      - ./data/judge_server/log:/log
      - ./data/judge_server/run:/judger
    environment:
      - SERVICE_URL=http://judge-server:8080
      - BACKEND_URL=http://oj-backend:8000/api/judge_server_heartbeat/
      - TOKEN=CHANGE_THIS
      # - judger_debug=1
  
  oj-backend:
    image: srejikumar/oj_backend:dev-test-0.2
    container_name: oj-backend 
    restart: always
    depends_on:
      - oj-redis
      - oj-postgres
      - judge-server
    volumes:
      - ./data/backend:/data
    environment:
      - POSTGRES_DB=onlinejudge
      - POSTGRES_USER=onlinejudge
      - POSTGRES_PASSWORD=onlinejudge
      - JUDGE_SERVER_TOKEN=CHANGE_THIS
      - PROCTOR_URL=http://localhost:3000
      # - FORCE_HTTPS=1
      # - STATIC_CDN_HOST=cdn.oj.com
    ports:
      - "0.0.0.0:80:8000"
      - "0.0.0.0:443:1443"
